# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
npm-debug.log
dist/
build/

# Cache
.cache/
*.pack

# VS Code
.vscode/

\scan_history.json
.env
backend/.env.txt
.env.example
agent_action_log.md
backend/app/scanner/sast.zip
