@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */

  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;

    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #1B3C53;
  --secondary: #234C6A;
  --accent: #456882;
  --light: #D2C1B6;

  --graph1: #555879;
  --graph2: #98A1BC;
  --graph3: #DED3C4;
  --graph4: #F4EBD3;
}

body {
  background-color: var(--light);
  color: var(--primary);
  font-family: "Poppins", sans-serif;
  margin: 0;
}
nav {
  background-color: var(--primary);
  color: var(--light);
}
a {
  text-decoration: none;
  color: var(--light);
}
a:hover {
  color: var(--accent);
}
